[user]
  email = svkurowski@gmail.com
  name = Sascha Vincent Kurowski
[core]
  excludesfile = ~/.gitignore_global
[push]
  default = simple
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
